<div class="row shadow mb-4">
    <div class="col-12 bg-white">
        <h1 class="text-center mt-3">San Diego County COVID-19 Statistics</h1>
        <p class="text-center mb-3">The chart and table below display realtime and historical data from the County of
            San Diego's website (which updates daily around 4:00 pm).</p>

    </div>
</div>
<div class="container">

    <canvas id="myChart" class="mb-4 shadow rounded bg-white"></canvas>
    <canvas id="myChart2" class="mb-4 shadow rounded bg-white"></canvas>



    <table class="table shadow rounded bg-white">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">New Positives</th>
                <th scope="col">Total Positives</th>
                <th scope="col">Total Hospitalized</th>
                <th scope="col">Total Cared for in ICU </th>
                <th scope="col">Total Deaths</th>
            </tr>
        </thead>
        <tbody>

            {{reverse stats}}

            {{#each stats}}
            {{> stat-block }}
            {{/each }}

        </tbody>
    </table>

    <p class="blockquote-footer text-center font-italic"><em>All data taken from <a
                href="https://www.sandiegocounty.gov/content/sdc/hhsa/programs/phs/community_epidemiology/dc/2019-nCoV/status.html"
                target="blank"><cite title="Source Title">sandiegocounty.gov</cite></a></em></p>

</div>

{{!-- <script src="/js/bundle.js"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="./js/chart.js" one="1" two="2" positives={{{this.totalPositives}}} newPositives={{{this.newPositives}}}
    dates={{{this.dates}}}></script>