<div class="container">

    <canvas id="myChart" width="400" height="400"></canvas>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Total Positives</th>
            <th scope="col">In Hospital</th>
            <th scope="col">In ICU </th>
            <th scope="col">Deaths</th>
        </tr>
    </thead>
    <tbody>

    {{reverse stats}}

    {{#each stats}}
    {{> stat-block }}
    {{/each }}

    </tbody>
</table>

<p class="blockquote-footer text-center font-italic"><em>All data taken from <a href="https://www.sandiegocounty.gov/content/sdc/hhsa/programs/phs/community_epidemiology/dc/2019-nCoV/status.html" target="blank"><cite title="Source Title">sandiegocounty.gov</cite></a></em></p>




</div>

<script src="/js/bundle.js"></script>
<script src="/js/chart.js"></script>