<div class="container">


<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Total Positives</th>
            <th scope="col">Hospitalizations</th>
            <th scope="col">ICU Patients</th>
            <th scope="col">Deaths</th>
        </tr>
    </thead>
    <tbody>
    {{#each stats}}
    {{> stat-block }}
    {{/each }}

    </tbody>
</table>

<p class="font-italic text-center"><em>All data taken from the County of San Diego's website.  (sandiegocounty.gov)</em></p>




</div>